<div
  class="absolute top-0 left-0 z-50 flex items-center justify-between w-full h-20 px-4 text-gray-700 md:h-28 md:px-20 lg:px-40 bg-neutral-100/80"
>
  <div
    class="w-56 px-2 font-sans text-2xl font-light tracking-widest cursor-pointer md:w-fit md:w-unset md:text-4xl"
    [routerLink]="'home'"
  >
    Mobile Massage of Raleigh
  </div>
  <div class="items-center hidden font-sans lg:flex">
    <div
      *ngFor="let link of navLinks"
      class="nav-link"
      [routerLink]="link.path"
      [routerLinkActive]="'active-link'"
    >
      {{ link.label }}
    </div>
  </div>
  <div class="relative flex border-gray-400 lg:hidden">
    <button
      *ngIf="!menuOpen"
      class="flex flex-col items-center w-8 h-8 justify-evenly"
      type="button"
      (click)="toggleMenu()"
    >
      <span class="hamburger"></span>
      <span class="hamburger"></span>
      <span class="hamburger"></span>
    </button>
    <button
      *ngIf="menuOpen"
      class="relative flex flex-col w-8 h-8"
      type="button"
      (click)="toggleMenu()"
    >
      <span class="close-hamburger"></span>
      <span class="close-hamburger"></span>
    </button>
  </div>
  <div
    #menu
    *ngIf="menuOpen"
    class="absolute right-0 z-50 w-full max-w-[450px] bg-neutral-200 top-20 md:top-28 font-sans"
  >
    <div
      *ngFor="let link of navLinks"
      class="nav-link-mobile"
      [routerLink]="link.path"
      (click)="toggleMenu()"
    >
      {{ link.label }}
    </div>
  </div>
</div>
