<div class="page-container">
  <div class="grid grid-cols-1 gap-4 xl:grid-cols-2">
    <div class="flex flex-col items-center justify-start">
      <div class="my-4 text-4xl text-center text-teal-500">
        The Purpose of Massage
      </div>
      <div
        class="flex items-start justify-center p-2 pl-4 text-gray-700 h-fit gap-x-4 rounded-xl bg-white/70"
      >
        <div class="text-gray-700 max-w-[400px] leading-loose font-sans">
          The purpose for massage is to assist the body in its own natural
          healing process. By this we mean that we can guide your body to a
          proper postural alignment withour any in depth surgical work. Massage
          not only helps relieve muscle pain, but also allows us to assess and
          manipulate the soft tissue so that it stays in a more relaxed and
          proper state.
          <br />
          <br />
          With the wide range of modalities that we cover, we will be able to
          give you exactly what you need. Whether that is a relaxing massage
          after a long day of work, or an in depth focus work to resolve a long
          lasting issue, we will assist you in your journey to a better you.
        </div>
        <img
          class="hidden float-right object-contain rounded-xl md:block h-[400px]"
          src="assets/back-rub2.jpg"
        />
      </div>
    </div>
    <div class="flex flex-col items-center justify-start">
      <div class="my-4 text-4xl text-center text-teal-500">Our Philosophy</div>
      <div
        class="flex items-start justify-center p-2 pl-4 rounded-xl h-fit gap-x-4 bg-white/70"
      >
        <img
          class="hidden float-left object-contain rounded-xl md:block xl:hidden h-[400px]"
          src="assets/bg-candle3.jpg"
        />
        <div class="text-gray-700 max-w-[400px] leading-loose font-sans">
          Our philosophy is simple. We want to give you exactly what you need.
          Whether that be relaxation or pain management. Treatment can be set up
          to help relieve long term pain or just relieve stress. Our best
          interest is you.
        </div>
        <img
          class="hidden float-right object-contain rounded-xl xl:block h-[400px]"
          src="assets/bg-candle3.jpg"
        />
      </div>
    </div>
  </div>
</div>
