@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cambridge";
  src: url("assets/fonts/Cambridge.otf") format("opentype");
}

body {
  font-family: "Cambridge", san-serif;
}

.page-container {
  @apply absolute left-0 top-20 md:top-28 bottom-0 pb-24 p-4 md:px-20 lg:px-20 w-full flex justify-center items-start text-white overflow-auto;
}
